body {
    background-color: #fce7c8;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.no-bullets {
    list-style-type: none;
}

img {
    width: 500px;
    height: auto;
}

.recipe-body {
    width: 50%;
    margin: auto;
}