body {
    background-color: #f0fff0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.no-bullets {
    list-style-type: none;
}

img {
    width: 500px;
    height: auto;
}