body {
    background-color: #fce7c8;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.no-bullets {
    list-style-type: none;
}

img {
    width: 50%;
    height: auto;
}

.recipe-body {
    width: 50%;
    margin: auto;
}

p {
    text-align: justify;
}

li {
    text-align: left;
}

.no-bullets li {
    text-align: center;
}

.Description, .Ingredients, .Steps {
    margin: 40px auto;
}

#return-home {
    display: block;
    margin-bottom: 40px;
}